@model IEnumerable<Fmi.OpenMinds.FitChallenge.Models.Exercise>
@{
    ViewBag.Title = "Index";
}

<h2>Exercises</h2>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Url</th>
            <th>MuscleGroup</th>
            <th width="200">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.Id</td>
                <td>@exercise.Name</td>
                <td>@exercise.Url</td> @*TODO: Make this to be shawn as URL*@
                <td>@exercise.MainMuscleGroupId</td>
            </tr>
        }
    </tbody>
</table>

