@{
    ViewBag.Title = "Wellcome";
}
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Calendar", "Index", "Calendar")</h2>
        <p>
            Calendar helps you to organize and view statistics about your trainings. 
            You plan trainings, suplements and other comments for each day and mark
            whether you have completed the plan.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Workout", "Index", "Workout")</h2>
        <p>
            You can add different workouts for different muscure groups. Then you can 
            mark this workout as planned for selected day in calendar.
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Exercise", "Index", "Exercise")</h2>
        <p></p>
    </div>
</div>

<div>
    @Html.ActionLink("Measurement","Index","Measurement")
</div>
