@model Fmi.OpenMinds.FitChallenge.Models.MuscleGroup
<h2>Create muscle group</h2>
@using(Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>Enter the name of the muscle group you want to create?</p>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class="form-control", placeholder="Enter name" })
    </div>
    <input type="submit" value="Save" class="btn btn-default" />
    @Html.ActionLink("Cancel", "Index", "MuscleGroup", new {}, new { @class="btn btn-default" })
}